/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a504c;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.header-left {
    display: flex;
    align-items: left; /* Vertically centers the logo */
    padding: 10px; /* Optional: adds some space around the logo */
}

.header-left .logo {
    max-width: 140px; /* Adjust the size of the logo */
    height: auto; /* Maintain aspect ratio */
}

.icon {
    display: block; /* Ensures the image is treated as a block element */
}

  
.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
  
.header-icons .icon {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .header-icons .icon img {
    width: 30px; /* Standardized width */
    height: 30px; /* Standardized height */
    object-fit: cover;
    margin-right: 5px;
    transition: transform 0.3s ease;
  }
  
  .header-icons .icon:hover img {
    transform: scale(1.1);
  }
  
  .header-icons .icon-text {
    display: none;
  }
  
  .header-icons .icon:hover .icon-text {
    display: inline;
  }

.container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #2d6a4f;
    text-align: center;
    margin-bottom: 20px;
}

.policy-section h2 {
    font-size: 1.8rem;
    margin-top: 20px;
}

.policy-section h3 {
    font-size: 1.2rem;
    margin-top: 15px;
}

.policy-section ol {
    margin-top: 10px;
    margin-left: 20px;
}

.policy-section li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }
}
